<!DOCTYPE html>
<html>

<head>
    <title>Add Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Add Password</h1>
        <form id="add-password-form">
            <input type="text" id="website-input" placeholder="Enter website">
            <input type="text" id="username-input" placeholder="Enter username">
            <input type="password" id="password-input" placeholder="Enter password">
            <button type="submit">Add Password</button>
        </form>
    </div>
    <script src="../static/app.js"></script>
</body>

</html>